.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.pokemon {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    transition: .3s;
}

.pokemon:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .3s;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.pokemon .types {
    display: flex;
    gap: 0.45rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pokemon .type {
    text-align: center;
    font-size: .725rem;
    width: 4rem;
    padding: 0.25rem 0.5rem;
    margin: .25rem 0;
    border-radius: 0.325rem;
    filter: brightness(1.1);
    box-shadow: 1px 1px 1px rgba(75, 75, 75, 0.2);
}

.pokemons img {
    max-width: 100%;
    height: 145px;
    margin-bottom: 0.65rem;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    gap: 5px;
}

.pagination button {
    padding: .4rem .75rem;
    margin: .25rem 0;
    font-size: .925rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

.pagination button:hover {
    background-color: #3e457c;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
