.normal {
    background-color: #9099A1;
}

.grass {
    background-color: #65BC5E;
}

.fighting {
    background-color: #CE3F6B;
}

.psychic {
    background-color: #F77176;
}

.poison{
    background-color: #AB6AC8;
}

.dragon{
    background-color: #096DC3;
}

.ghost{
    background-color: #5269AD;
}

.dark{
    background-color: #5B5265;
}

.ground {
    background-color: #D97746;
}

.fire {
    background-color: rgb(250, 139, 59);
}

.fairy {
    background-color: #EC90E7;
}

.water{
    background-color: #4D90D6;
}

.flying {
    background-color: #9abaff;
}

.rock {
    background-color: #C9B68B;
}

.electric {
    background-color: #F4D23B;
}

.bug {
    background-color: #90C02C;
}

.ice {
    background-color: #73CEBF;
}

.steel{
    background-color: #5B8EA1
}